html,body, .container{
    height: 100%;
}

/* .container{
    display: flex;
    justify-content: center; horizontal center 
} 
*/
.container{
    position: relative;
}
.element{
    position:absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: red;
}
img{
    align-self: center; /* vertical center */
}