<!-- <p>The Server Component</p>
<p>The serverName: {{ serverName }} and server Id: {{ serverId }}</p> -->
<div class="container">
  <input type="text" class="form-control" [(ngModel)]="userName" />
  <p>{{ userName }}</p>
  <button
    class="btn btn-primary"
    [disabled]="userName === ''"
    (click)="resetBtn()"
  >
    Reset UserName
  </button>
  <hr />
  <button class="btn btn-primary" (click)="showSecretPass()">
    Display Detail
  </button>
  <p *ngIf="showSecret">Display secret: {{ secret }}</p>
</div>
